@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

.div-lucha{
 
  
  align-items: center;
  text-align: center;
  border-radius: 20px;
  background: linear-gradient(#ffd33c,rgba(70, 89, 156, 1));
margin-top: 20px;
padding:50px;
 

}
.pokemon1{
  width:150px;
  height: 150px;
 
    }
    .pokemon2{
      width: 150px;
      height: 150px;
    }


.botones {
  align-items: center;
  text-align: center;
  background-color: #ffd33c;
}

.select {
  width: 100px;
  height: 40px;
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: bolder;
  border-radius: 50px;
  border: 3px, #ffffff;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  pointer-events: hand;

}

.select:hover {
  background-color: #ffffff;
  color:red;
  cursor: pointer;
}


.pokeball {
  background-color: rgba(255, 211, 60, 1);
  width: 90px;
  height: 90px;
  margin-block: -30px;
  border-radius: 50%;
  cursor: pointer;
}

.input {
  width: 300px;
  height: 40px;
  text-align: center;
  font-weight: lighter;
  font-family: 'Gloria Hallelujah', cursive;
  border-radius: 50px;
  background-color: aliceblue;
 
}

.input:hover {
  background-color: rgb(144, 185, 238);
}
.luchar{
  width: 100px;
  height: 40px;
  margin-inline: 20px;
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: bolder;
  border-radius: 50px;
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
body {
  background-color: #ffd33c;
  font-family: 'Gloria Hallelujah', cursive;
  
}

img {
  width: 100%;
}

.listado {
  background: linear-gradient(#ffd33c,rgba(70, 89, 156, 1));
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
 cursor: pointer;

}

li {
  background: linear-gradient(130deg, rgb(255, 1, 65), rgb(41, 39, 39),rgb(19, 122, 241));
  box-shadow: rgba(138, 222, 223, 0.99) 10px 10px 10px;
  list-style-type: none;
  text-align: center;
  width: 10%;
  margin: 15px;
  border-radius: 20px;
  padding: 20px;
  border: 2px solid white;
}

li:hover {
  transform: scale(1.1);
  background-image: url('Se0P.gif');
  
  background-position: center;
  background-size: auto;
  box-shadow: rgba(253, 69, 69, 0.977) 10px 10px 10px;

}



h2 {
  color: white;
  text-transform: uppercase;
  font-style: oblique;
  font-size: 10px;
  background-color: black;
  border: 2px solid rgb(255, 255, 110);
  padding: 1px;
}

p {
  color: black;
  font-size: 10px;
  border: 2px solid rgb(255, 255, 110);
  padding: 1px;
  text-transform: uppercase;
}

header {
  text-align: center;
  height: 50%;
  background-color: rgba(255, 211, 60, 1);
  margin-top: 5px;
  margin: 10px;
  padding-top: 0px;
  margin-top: 0px;
}

/* Clase para la imagen de error */
.error-image {
  width:600px;
  height: 500px;
  margin-bottom: 20px;
}

/* Clase para el texto de error */
.error-text {
  margin-top: 200px;
  color: rgba(245, 199,90, 1);
  font-weight: bold;

}



@media (max-width: 600px) {

  .botones {
    align-items: center;
    text-align: center;
  }

  .input {
    width: 100px;
    
    font-size: 10px;
    font-weight: lighter;
  }

  .select {
    width: 65px;
  }
  .select {
   width: 83px;
   font-size: 12px;
   font-weight: lighter;
   border-color: #2a1ffd;
  }

  .pokeball {
    width: 45px;
    height: 45px;
    margin-block: -20px;
  }

  .pokemon1{
width: 50px;
height: 50px;
  }

  li {
    width: 25%;
    height: 30%;
 }

li:hover{
  background-position: center;
  background-size: cover;
 
}

  h2 {
    font-size: 8px;
  }

  img {
    width: 100%;
  }

  .error-text {
   font-size: 20px;
  text-decoration-line: underline;
  color: #ffffff;
  font-weight: bold;
    

  }
  .error-image {
    width:100%; 
    height: 250px;  
    
  }
  .div-lucha{
  font-size: 12px;
    align-items: center;
    text-align: center;
    border-radius: 50px;
    margin-top: 10px;
   
  
  }
.luchar{
  width: 75px;
  
}

  .pokemon1{
    width:60px;
    height:60px;
   
      }
      .pokemon2{
        width: 60px;
        height: 60px;
      }
  
  


}