@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
.botones {
  align-items: center;
  text-align: center;
  background-color: #ffd33c;
}

.select {
  width: 100px;
  height: 40px;
  text-align: center;
  font-family: "Gloria Hallelujah", cursive;
  font-weight: bolder;
  border-radius: 50px;
  border: 3px, #ffffff;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  pointer-events: hand;
}

.select:hover {
  background-color: #ffffff;
  color: red;
  cursor: pointer;
}

.pikapika {
  margin-left: 20px;
  background-color: #ffd33c;
  width: 90px;
  height: 90px;
  margin-block: -30px;
  cursor: pointer;
}

.input {
  margin-right: 20px;
  width: 300px;
  height: 40px;
  text-align: center;
  font-weight: lighter;
  font-family: "Gloria Hallelujah", cursive;
  border-radius: 50px;
  background-color: aliceblue;
}

.input:hover {
  background-color: rgb(144, 185, 238);
}

.div-lucha {
  padding: 30px;
}
.pokemon1 {
  width: 160px;
  height: 160px;
}
.vs {
  padding: 20px;
  width: 90px;
  height: auto;
  background-color: #ffd33c;
}
.pokemon2 {
  width: 160px;
  height: 160px;
}

.bg-1 {
  background-color: #ffd33c;
}

.t-stroke {
  color: transparent;

  -webkit-text-stroke-width: 2px;

  -webkit-text-stroke-color: #cd1010;
}

.t-shadow {
  text-shadow: 5px 9px #a6b2e6;
}
.result{
  font-weight: bolder;
}
body {
  background-color: #ffd33c;
  font-family: "Gloria Hallelujah", cursive;
}

img {
  width: 100%;
}

.listado {
  background: linear-gradient(#ffd33c, #000000, rgba(70, 89, 156, 1));
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  cursor: pointer;
}

li {
  background: linear-gradient(
    130deg,
    rgb(255, 1, 65),
    rgb(41, 39, 39),
    rgb(19, 122, 241)
  );
  box-shadow: rgba(138, 222, 223, 0.99) 10px 10px 10px;
  list-style-type: none;
  text-align: center;
  width: 10%;
  margin: 15px;
  border-radius: 20px;
  padding: 20px;
  border: 2px solid white;
}

li:hover {
  transform: scale(1.1);
  background-image: url("fondo.gif");
  background-position: center;
  background-size: auto;
  box-shadow: rgba(253, 69, 69, 0.977) 10px 10px 10px;
}

h2 {
  color: white;
  text-transform: uppercase;
  font-style: oblique;
  font-size: 10px;
  background-color: black;
  border: 2px solid rgb(255, 255, 110);
  padding: 1px;
}

p {
  text-transform: capitalize;
  font-weight: bold;
  width: 33%;
  height: auto;
  margin: 0 auto;
  border-radius: 10px;
  color: black;
  font-size: 10px;
  border: 2px solid rgb(255, 255, 110);
}

header {
  text-align: center;
  height: 50%;
  background-color: rgba(255, 211, 60, 1);
  margin-top: 5px;
  margin: 10px;
  padding-top: 0px;
  margin-top: 0px;
}

/* Clase para la imagen de error */
.error-image {
  width: 600px;
  height: 500px;
  margin-bottom: 20px;
  border: 5px solid rgb(0, 0, 0);
  border-radius: 10%;
}

/* Clase para el texto de error */
.error-text {
  margin-top: 200px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

@media (max-width: 600px) {
  .botones {
    align-items: center;
    text-align: center;
  }

  .input {
    width: 100px;
    height: auto;
    font-size: 10px;
    font-weight: lighter;
  }

  .select {
    width: 80px;
    height: auto;
    font-size: 10px;
    font-weight: lighter;
    border-color: #2a1ffd;
  }

  .pikapika {
    width: 65px;
    height: 65px;
    margin-left: 3px;
    margin-block: -20px;
  }

  .bg-1 {
    width: 100%;
    height: auto;
    font-weight: lighter;
    font-size: 7px;
  }
  p {
    width: 50%;
    font-size: 8px;
  }

  li {
    width: 25%;
    height: 140px;
  }

  li:hover {
    background-position: center;
    background-size: cover;
  }

  h2 {
    font-size: 8px;
  }

  img {
    width: 100%;
  }

  .error-text {
    font-size: 20px;
    text-decoration-line: underline;
    color: #ffffff;
    font-weight: bold;
  }
  .error-image {
    width: 100%;
    height: auto;
  }

  .pokemon1 {
    width: 60px;
    height: 60px;
  }
  .pokemon2 {
    width: 60px;
    height: 60px;
  }

  .vs {
    width: 30px;
    padding: 10px;
    height: auto;
    background-color: #ffd33c;
  }
}
